@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
* {
  font-family: "Georama", sans-serif;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
}

#one {
  padding: 60px 0;
  background-color: #030303;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}

.card {
  background-color: #501e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #000000;
          box-shadow: 5px 5px 5px #000000;
  position: relative;
  height: 96%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.card img {
  vertical-align: middle;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card .img-container {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card .details {
  margin-top: 1rem;
  margin-left: 15px;
  margin-right: 15px;
}

.card .details p {
  color: #f3f3f3c7;
  text-align: center;
}

.card:hover {
  background-color: #702020;
  -webkit-transform: scale(0.95) translateY(-0.8rem);
          transform: scale(0.95) translateY(-0.8rem);
}

.card:hover .img-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.top-container {
  min-height: 60vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04091e80), to(#6d0c0c80)), url("../images_penthouse/charactersinfo.jpeg");
  background-image: linear-gradient(#04091e80, #6d0c0c80), url("../images_penthouse/charactersinfo.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top-container img {
  vertical-align: middle;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.second-container {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6d0c0cc7), to(#000000bd)), url("../images_penthouse/charactersinfo.jpeg");
  background-image: linear-gradient(#6d0c0cc7, #000000bd), url("../images_penthouse/charactersinfo.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.second-container .jumbotron .container p {
  color: #f3f3f3da;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.jumbotron h2 {
  text-align: center;
  color: whitesmoke;
}

.jumbotron p {
  color: whitesmoke;
  margin-bottom: 0;
}

h1 {
  position: relative;
  font-size: 8rem;
  text-align: center;
}

.con-wrapper-1 {
  background-color: #682020;
  margin-right: 0;
  margin-left: 0;
}

.con-wrapper-1 h2 {
  text-align: center;
  padding: 5rem 0 0 0;
  color: whitesmoke;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 80px;
}

.details a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

footer p, footer div {
  color: #6b6d72;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=characters.css.map */